.userWelcomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.userWelcomeContainer img {
    height: 20rem;
}

.userWelcomeContainer span {
    color: #4e00ff;
}
/* .Logout{
width: 200px;
} */